body{
    font-family: verdana, sans-serif;
    background-color: bisque;
    margin: 25px;
    padding: 25px;
}
h1{
    color: crimson;
}
.Formulario{
    max-width: 700px;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    background-color: azure;
    color:  black;
}
.Formulario h2{
    text-align: center;
}
.Formulario div{
    padding: 3px;
    margin-bottom: 10px;

}
input{
    background-color: antiquewhite;
    border-radius: 5px;
    border-color:antiquewhite;
}
